@page "/contacts"
@using BlazingChat.Shared
@inject HttpClient Http


<h1>Contacts</h1>

<div class="col-12">
    @foreach (var contact in contacts)
    {
        <a href="/chat/@contact.ContactId" class="list-group-item list-group-item-action flex-colum align-items-start"><span
            span>@contact.FirstName </span><span>@contact.LastName</span>
        </a>
    }
</div>


@code {
    private List<Contact> contacts = new List<Contact>();

    protected override async Task OnInitializedAsync()
    {

        contacts.Add(new Contact(1, "Julius", "Caesar"));
        contacts.Add(new Contact(2, "Daniel", "Tonini"));
        contacts.Add(new Contact(3, "Gary", "Thomas"));
        contacts.Add(new Contact(4, "Martin", "Smommer"));
        contacts.Add(new Contact(5, "Howard", "Snyder"));

    }

}
