@page "/contacts"
@inherits ContactsBase



<h2><b>Contacts</b></h2>
<hr />

<div class="col-12">
    <div class="col-12 row">
        <input type="text" class="col-9 form-control" placeholder="search"/>
        <span>&nbsp;</span><button class="btn btn-primary">Search</button>
    </div>
    <br />
    
    @if(Vm.Contacts != null && Vm.Contacts.Count() > 0)
    {
        @foreach (var contact in Vm.Contacts)
        {
            <a href="/chat/@contact.ContactId" class="list-group-item list-group-item-action flex-column align-items-start">
                @contact.FirstName <span> </span> @contact.LastName
            </a>
        }
    }
</div>


