@page "/"
@* @inherits ProfileBase *@
@inject IProfileViewModel vm

<div class="col-12">
    <input type="text" @bind-value="@vm.FirstName" class="form-control" name="firstName" id="firstName" placeholder="first name">
    <br>
    <input type="text" @bind-value="@vm.LastName"  class="form-control" name="lastName" id="lastName" placeholder="last name" >
    <br>
    <input type="text" @bind-value="@vm.EmailAddress"  class="form-control" name="emailAddress" id="emailAddress" placeholder="email address" >
    <br>
    <button class="btn btn-primary" @onclick="vm.UpdateProfile" >Update Profile</button>
    @* <button class="btn btn-primary" @onclick="vm.GetProfile">Get Profile</button> *@
    <span>&nbsp;&nbsp;</span> @vm.Message
</div>

