@page "/profile"
@inherits ProfileBase


<div class="col-12">
    <input type="text" @bind-value="@Vm.FirstName" class="form-control" name="firstName" id="firstName" placeholder="first name">
    <br>
    <input type="text" @bind-value="@Vm.LastName"  class="form-control" name="lastName" id="lastName" placeholder="last name" >
    <br>
    <input type="text" @bind-value="@Vm.EmailAddress"  class="form-control" name="emailAddress" id="emailAddress" placeholder="email address" >
    <br>
    <button class="btn btn-primary" @onclick="Vm.UpdateProfileAsync" >Update Profile</button>
    <button class="btn btn-primary" @onclick="Vm.GetProfileAsync">Get Profile</button>
    <span>&nbsp;&nbsp;</span> @Vm.Message
</div>

