@page "/settings"
@inherits SettingsBase  


<div class="col-12">
    <input type="checkbox" @bind="@Vm.Notifications" id="chkNotification">
    <label for="">Notification</label>
</div>

<div class="col-12">
    <input type="checkbox" @bind="@Vm.DarkTheme" id="chkDarkTheme">
    <label for="">Dark Theme</label>
</div>


<div class="col-12">
    <button class="btn btn-primary" @onclick="Vm.SaveAsync">Save</button>
</div>